.form_main_inputs{width:95%;}
.add_check{width:115px;margin:10px;transition:0.3s;cursor:pointer;}
.add_check:hover{color:#1da71d;}
.add_check span{font-size:30px;}
#if_check{width:100%;}
#select_curs,#select_banks{display:none;}
.check_list{width:100%;margin-top:15px;}
.check_list table{width:100%;}
.check_list input{width:85%;}
.check_list select{width:85%;}
.check_list th{background-color:#344359;color:#FFFFFF;padding:10px 3px;font-size:15px;border:1px solid #344359;}
.check_list td{padding:10px 0;text-align:center;border-bottom:1px dashed #c8cfd8;transition:0.4s;}
.check_list tr{transition:0.3s;}
.nume{font-family:sans-serif;}
.returned_symbol{font-family:'symbols';font-size:20px;cursor:pointer;transition:0.3s;content:'';}
.returned_symbol:hover span{display:none;transition:0.3s;}
.returned_symbol:hover:after{color:green;content:'D';transition:0.3s;}
.edit_symbol{font-family:'symbols';font-size:23px;cursor:pointer;transition:0.3s;}
.edit_symbol:hover{color:green;}
.edit_symbol a{font-family:'symbols';font-size:23px;cursor:pointer;transition:0.3s;color:#344359;}
.edit_symbol a:hover{color:green;}
.delete_symbol{font-family:'symbols';font-size:23px;cursor:pointer;color:#344359;transition:0.3s;}
.delete_symbol:hover{color:#ff1717;}
.no_resault{width:90%;margin:0 auto;border:1px solid red;color:red;border-radius:7px;color:red;padding:15px;text-align:center;margin-top:30px;}
.select_sale_temp{width:70%;margin:15px auto;}
.select_sale_temp select{width:90%;margin:0 auto;}
.nprint{width:150px;margin:0 auto;border:1px solid #344359;text-align:center;border-radius:7px;font-size:17px;cursor:pointer;transition:0.3s;}
.nprint:hover{background:#344359;color:whitesmoke;}
.delete_check{position:absolute;margin-right:-41px;margin-top:-4px;font-family:'symbols';font-size:23px;cursor:pointer;color:#344359;transition:0.3s;}
.delete_check:hover{color:#ff1717;}
.delinp{margin-right: -35px;margin-top: 5px;}
@page {width:auto;height:auto;size:auto;margin:0mm;}
@media print{
.nprint{display:none;}
.print_button{display:none;}
.top_navbar{display:none;}
.main_sidebar{display:none;}
.edit_symbol{display:none;}
.delete_symbol{display:none;}
.check_list th{border:0;border-top:1px dashed #c8cfd8;border-bottom:1px dashed #c8cfd8;background:initial;color:#344359;}
}